<div id="examples">
  <h2>PeerJS in the wild</h2>
  <br/>
  <div>
    <a style="font-size: 1.3em" href="https://github.com/jmcker/Peer-to-Peer-Cue-System">https://github.com/jmcker/Peer-to-Peer-Cue-System</a>
    <p style="font-size: 1.2em">
      Cue system for simple two-way communication and visual signaling using WebRTC technology.
    </p>
    <a target="_blank" href="https://jmcker.github.io/Peer-to-Peer-Cue-System">Demo</a>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
</div>